@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap');
@import "globals";

@mixin maxWidth() {   
    max-width: 1440px;
    margin: auto;
}

.logo {
    width: 70px;
}

.btn {
    padding: .8em 1em;
    border-radius: 25px;
    border: none;
    width: 140px;

    &:hover {
        cursor: pointer;
    }
}

.header {
    position: relative;
    background-image: url(../images/bg-pattern-intro-mobile.svg) ,-moz-linear-gradient(-30deg, $Very-light-red, $Light-red);
    background-image: url(../images/bg-pattern-intro-mobile.svg) ,-webkit-linear-gradient(-30deg, $Very-light-red, $Light-red);
    background-position: 30% 30% , 0 0;
    background-size: 1300px, cover;
    background-repeat: no-repeat;
    // background-size: cover;
    text-align: center;
    padding: 3rem 1rem;
    min-height: 600px;
    color: $White-text;
    border-radius: 0 0 0 130px;

    .nav-section {
        padding: 1rem;
    }

    font: {
        family: $overpass;
    }

    nav { 
        display: flex;
        width: 100%;
        justify-content: space-between;

        #hamburger-icon {
            width: 30px;
            height: 20px;
        }
    }

    .nav-menu {
        display: none;
    }

    .nav-menu-show {
        display: block;
    }

    h1 {
        // padding: 10rem 0 2rem 0;
        margin: 5rem 0 1rem 0;
        font-size: 2.1rem;
    }

    p {
        font-size: 1.1rem;
    }

    .nav-section-btns {
        display: flex;
        justify-content: space-around;
        max-width: 300px;
        margin: 4rem auto;
    }

    .start-btn {
        background-color: white;
        color: $Light-red-CTA-text;
        font-weight: 700;
    }

    .start-btn:hover, .sign-btn:hover {
        background-color: $Very-light-red-CTA-hover-background;
        color: $White-text;
    }

    .learn-btn {
        border: 1px solid white;
        background-color: transparent;
        color: white;
    }

    .learn-btn:hover {
        background-color: $White-text;
        color: $Very-light-red-CTA-hover-background;
        font-weight: 600;
    }

}

.section {
    text-align: center;
    padding: 5rem 1rem;
    font-family: $overpass;

    img {
        width: 100%;
    }
    h2 {
        margin-bottom: 2rem;
    }

    p {
        padding: 0 2rem;
    }

    .section-img {
        max-width: 600px;
    }
}

.w-70 {
    width: 70%;;
}

.section-2 {
    margin-top: 40%;
    background-image: url(../images/big-pattern-circles.svg) ,-moz-linear-gradient(135deg, $Very-dark-gray-blue, $Very-dark-desaturated-blue);
    background-image: url(../images/bg-pattern-circles.svg) ,-webkit-linear-gradient(135deg, $Very-dark-gray-blue, $Very-dark-desaturated-blue);
    background-position: center -200px, 0 0;
    background-size: 500px, cover;
    background-repeat: no-repeat;
    border-radius: 0 130px 0 130px;
    position: relative;

    #phone-img {
        position: absolute;
        max-width: 500px;
        top: -200px;
        left: 50%;
        transform: translateX(-50%);
    }

    div {
        margin-top: 40%;
        padding-bottom: 20%;
        color: $White-text;
    }
}

footer {
    background-color: $Very-dark-black-blue-footer-background;
    border-top-right-radius: 130px;
    text-align: center;
    color: $Grayish-blue-footer-text;
    font-family: $ubuntu;
    font-size: 1.2rem;

    img {
        margin: 3.5rem 0 2rem;
    }

    .footer-section {
        margin: 2rem 0;
    }

    .footer-header {
        color: $White-text;
        margin: 1rem 0;
        font-weight: 700;
        font-size: 1.3rem;
    }

    .footer-item {
        margin-bottom: .5rem;
    }

    .footer-item a{
        color: inherit;
        text-decoration: none;
    }

    .footer-item a:hover {
        border-bottom: 2px solid $White-text;
    }
    .attribution {
        font-size: 11px;
        text-align: center;
        padding-bottom: .5rem;
      }
    .attribution a {
        font-size: 11px;
        color: hsl(0, 0%, 95%);
      }      
}

@media (max-width: 992px) {
    .header {
        .nav-menu {
            position: absolute;
            top: 7rem;
            right: 1rem;
            left: 1rem;
            padding: 2rem;
            background-color: rgb(255, 255, 255);
            color: black;

            & .drop-items {
                display: none;
            }
    
            & .drop-title {
                font-weight: 600;
            }
    
            .nav {
                margin: 1rem 0;
            }
    
            & a {
                text-decoration: none;
                color: black;
            }

            .close-icon {
                position: absolute;
                right: 1rem;
                top: -3rem;
            }

            .login {
                font-weight: 700;
            }

            .btn-devider {
                border-top: 1px solid rgba(0, 0, 0, 0.453);
                padding-top: 1rem;
            }

            .sign-btn {
                color: white;
                font-weight: 700;
                margin-top: 1rem;
                background-image: linear-gradient(90deg, $Very-light-red, $Light-red);
            }
        }
    }
}

@media (min-width: 992px) {

    .header {
        @include maxWidth();
        background-image: url(../images/bg-pattern-intro-desktop.svg) ,-moz-linear-gradient(-30deg, $Very-light-red, $Light-red);
        background-image: url(../images/bg-pattern-intro-desktop.svg) ,-webkit-linear-gradient(-30deg, $Very-light-red, $Light-red);
        background-position: 35% 55% , 0 0;
        background-size: 2000px, cover;
        background-repeat: no-repeat;
        #hamburger-icon, .close-icon {
            display: none;
        }

        .nav-menu {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }

        .logo {
            align-self: flex-start;
        }

        .drop-items {
            position: absolute;
            width: 120px;
            display: none;
            background-color: white;
            padding: 1rem;
            top: 3rem;
            border-radius: 5px;

            & a {
                text-decoration: none;
                color: black;

                &:hover {
                    font-weight:600;
                }
            }
        }

        .show-drop-items {
            display: block;
        }

        .nav-devider {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        .nav {
            position: relative;
            margin-left: 2rem;
            &:hover {
                // border-bottom: 2px solid white;
                text-decoration: underline;
                cursor: pointer;
            }

            & .drop-title::after {
                content: url(../images/icon-arrow-light.svg);
                padding-left: .5rem;
            }
        }

        nav {
            padding: 0 6rem;
        }

        .sign-btn {
            background-color: $White-text;
            color: $Light-red-CTA-text;
            font-weight: 600;
            margin-left: 2rem;
        }

    }

    .sub-section {
        max-width: 1200px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left;
        margin: auto;
        position: relative;
        overflow: hidden;

        p {
            padding: 0;
        }

        .section-img {
            position: absolute;
            left: -14%;
            top: -50px;
        }
    }

    .sub-section-main {
        @include maxWidth();
        position: relative;
        display: grid;
        grid-template-areas: 'not-img img';
        grid-auto-columns: 1fr;
        text-align: left;
        overflow: hidden;
        margin-bottom: 5rem;

        h3 {
            width: 100%;
        }

        p {
            padding: 0;
        }

        .img {
            grid-area: img;
            position: absolute;
            right: -30%;
            top: -50%;
            transform: translateY(20%);
        }

        .not-img {
            grid-area: not-img
        }

    }

    .section-2 {
        @include maxWidth();
        background-position: -200px -400px, 0 0;
        background-size: 800px, cover;
        display: grid;
        height: 400px;
        grid-template-columns: 1fr 1fr;
        #phone-img {
            position: relative;
            width: auto;
        }
        div {
            margin-top: 0;
            padding-bottom: 0;
        }
    }

    footer {
        @include maxWidth();
    }

    .footer-con {
        padding: 2rem;
        display: flex;
        justify-content: space-around;
    }

    .footer-con img {
        align-self: flex-start;
    }

}